body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: var(--background-secondary);
}

.container {
  margin: 0 20px;
}

h1 {
  font-size: 5.71rem; /* Размер шрифта 36px */
  text-transform: uppercase;
}

h2 {
  font-size: 3rem; /* Размер шрифта 48px */
}

h3 {
  font-size: 2.29rem; /* Размер шрифта 32px */
  text-transform: uppercase;

}

h4 {
  font-size: 1.43rem; /* Размер шрифта 20px */
}

p, button, span {
  font-size: 1em; /* Размер шрифта 16px */
  text-transform: uppercase;
}
a, li, h6{
  font-size: 0.875rem; /* Размер шрифта 14px */
  text-decoration: none;
}
