@use 'base';
@use 'variables';
// Шапка
.header {
  padding: 14px 20px;
  margin-top: 20px !important;
  font-family: var(--font-primary);
  background: var(--background-primary);
  border-radius: var(--border-radius-base);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav {
  display: flex;
  gap: 24px;
  align-items: center;
}

.header__ul {
  display: flex;
  gap: 24px;
  list-style-type: none;
}

.header__a {
  color: var(--text-primary);
  font-weight: bold;
}

.header__right-block{
  display: flex;
  gap: 6px;
}

.header__menu {
  padding: 7px 16px;
  display: flex;
  gap: 8px;
  align-items: center;
}

.header__profile {
  gap: 10px;
  display: flex;
  padding: 3px 3px 3px 16px;
  background: var(--gray-light);
  border-radius: var(--border-radius-base);
  align-items: center;
}

// Слайдер
.slider {
  font-family: var(--font-primary);
  margin-top: 8px;
}

.slider__swiper {
  border-radius: var(--border-radius-base);
}

.slider__wrapper {
  height: 830px !important;
}

.slider__buttons {
  position: absolute;
  bottom: 20px;
  display: flex;
  right: 0;
  left: 0;
  padding: 0 20px;
  gap: 8px;
  z-index: 2;
}

.slider__slide {
  background-size: cover;
}

.slider__slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(32, 32, 32, 0.1);
  z-index: 1;
}

.slider__text {
  padding: 0 20px;
  position: absolute;
  bottom: 66px;
  color: var(--text-secondary);
  width: 1300px;
  z-index: 2;
}

.slider__button {
  font-family: var(--font-primary);
  border: none;
  color: var(--text-primary);
  cursor: pointer;
  border-radius: 20px;
  transition: background-color 0.3s ease;
  flex: 1;
  padding: 20px 24px;
  background: var(--background-primary);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider__button:hover {
  color: var(--text-secondary);
  background: var(--background-hover);
}